<h1 class="alert alert-danger" align="center"> <%="YOUR #{params[:type]} MESSAGE "%> </h1>

<%= link_to 'NEW', new_message_path, class: 'btn btn-primary' %>
<%= link_to 'INBOX', messages_path(type: 'INBOX'), class: 'btn btn-primary' %>
<%= link_to 'UNREAD', messages_path(type: 'UNREAD'), class: 'btn btn-primary' %>
<%= link_to 'SENT', messages_path(type: 'SENT'), class: 'btn btn-primary' %>



<% if !@message.present? %>
  <div class="alert alert-danger">You have NOT yet receive any messages</div>
<% else %>

  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th class="span1"><input type="checkbox"></th>
      <th class="span2">From</th>
      <th class="span2">To</th>
      <th class="span2">Title</th>
      <th class="span2">Message Body</th>
      <th class="span9">Read Status</th>
      <th class="span2">Read On</th>
    </tr>
    </thead>

    <tbody>
      <% @message.each do |m| %>
      <% if !m.read_status %>
        <tr>
          <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
          <td><strong><%= "#{m.sender.first_name} #{m.sender.last_name}" %></strong></td>
          <td><strong><%= "#{m.recipient.first_name} #{m.recipient.last_name}" %></strong></td>
          <td><span class="label pull-right"><%= m.title %></span></td>
          <td><strong><%= link_to "Message body goes here", m %></strong></td>
          <td><strong><%= m.read_status ? "Read" : "UnRead" %></strong></td>
          <td><strong><%= m.read_at ? m.read_at.strftime("%A %H:%M [%b %d, %Y]") : "N/A" %></strong></td>
        </tr>
      <% else %>
        <tr>
          <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
          <td><%= "#{m.sender.first_name} #{m.sender.last_name}" %></td>
          <td><%= "#{m.recipient.first_name} #{m.recipient.last_name}" %></td>
          <td><span class="label pull-right"><%= m.title %></span></td>
          <td><%= link_to "Message body goes here", m %></td>
          <td><%= m.read_status ? "Read" : "UnRead" %></strong></td>
          <td><%= m.read_at ? m.read_at.strftime("%b %d, %Y") : "N/A" %></td>
        </tr>

      <% end %>


      <% end %>
    <% end %>
    </tbody>
</table>



